#tokko{
    padding-top: 27px;
    padding-bottom: 34px;
    color: white;text-align:center;

}
.bluebk{
    background-color:#085070;
    color: brown;
}
h2{
    text-align: center;
    color:black;
}
#p1{
    font-size: 33px;
}
#foot{
    margin-top: 75px;
    padding-top: 100px;
    padding-bottom:125px;
    color: white;
    text-align: center;
}
#pink{
    background-color: red;
    padding: 0%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.bluebk:hover{
    background-color: rgb(5, 195, 195);
}
.sostuphotos{
    display: flex;
}
#dog{
    margin-right: 20px;
}
#juba{
    margin-left: 65px;
    margin-right: auto;
}
.sostu2{
    display: flex;;
}
#first{
    margin-bottom: 23px ;
    margin-left: 0px;
    padding: 0px;
}

